# Appwrite Config
VITE_APPWRITE_ENDPOINT=https://apw.simplemsg.net.br/v1
VITE_APPWRITE_PROJECT_ID=YOUR_PROJECT_ID
VITE_APPWRITE_DATABASE_ID=YOUR_DATABASE_ID
VITE_APPWRITE_COLLECTION_ID=push_subscribers
VITE_APPWRITE_FUNCTION_ID=YOUR_FUNCTION_ID

# VAPID Public Key (safe to expose in frontend)
VITE_VAPID_PUBLIC_KEY=BDsY7fR5c0RAL-Q4sBxLEDha3--JirS7ag3szfoeNbxWOnDkeY7X9B3Ja0tciAk4DpDKNYaork-qXXk9dO-BIRA
